# Email (Nodemailer)
SMTP_HOST="smtppro.zoho.com"
SMTP_PORT=465
SMTP_USER="investments@murivest.co.ke"
SMTP_PASS="8M9fZSrmN1Zz"

# File Storage (if using S3)
AWS_ACCESS_KEY_ID="your-access-key"
AWS_SECRET_ACCESS_KEY="your-secret-key"
AWS_S3_BUCKET_NAME="your-bucket-name"

# Other
ADMIN_EMAIL="admin@example.com"